#assignment always takes place from R.H.S to L.H.S
#For example x = y, then 'y' s value is assigned to x 
# X = A, A = B, B = X

Repeating my advice from the previous chapter, whenever you learn a new feature, you should try it out in interactive mode and make errors on purpose to see what goes wrong.
We’ve seen that n = 42 is legal. What about 42 = n?
How about x = y = 1?
In some languages every statement ends with a semi-colon, ;. What happens if you put a semi-colon at the end of a Python statement?
What if you put a period at the end of a statement?
In math notation you can multiply x and y like this: x y. What happens if you try that in Python?

In [ ]:
A = 2
X = A
B = 3
A = B     # A = 3
                   #A variable is named space in computer's memory to store the data
n = 42
print(type(n))
st_name = 67           #a variable name can never include a number
#print(type(1st_name))

SyntaxError: ignored

In [ ]:
x = y = z = 1
print(x+y+z)                    # multiple assignments could be done in the same line of code

3

In [ ]:
a = 2;                         #so, it dosen't matter even if you put semi-colon after every block of code in 'Python'
                               #'Python' is the smartest of all language
b = 3;
print(a*b);

6

In [ ]:
a = 2.
b = 3.
print(a*b).                             # Only semi-colon is accepted after each sentence in python

SyntaxError: ignored

In [ ]:
x = 2
y = 2
print(x*y)

4

#The volume of a sphere with radius r is 4/3 π r^3. What is the volume of a sphere with radius 5?

In [ ]:
import math 
n = int(input("Enter Radius: "))                           #import always in the begining !!
def volume_sphere(r):                                      
  
  volume = 4/3 * (math.pi) * r**3

  return volume
print("the volume is",volume_sphere(n))                   #if I want to pass the variable I have to call the function

Enter Radius: 5
the volume is 523.5987755982989

In [ ]:
class ABC:
  def __init__(self,r):
    
    self.r = r

dog = ABC("bruno")
print(dog.r)

bruno

In [ ]:
n = int(input("Enter the number of books: "))
book_price = 24.95
discount = 0.4 * book_price
#print(discount)
discounted_price = book_price - discount
#print(discounted_price)
shipping_charge = 3+(n-1)*.75
wholesale_cost = n*(discounted_price+shipping_charge)
print("The wholesale price is",wholesale_cost)

Enter the number of books: 54
The wholesale price is 3116.88

In [ ]:
time_left_house=(6*60*60)+(52*60)
#print(time_left_house,"Seconds")
miles_easy_pace = 2*((8*60)+15)
miles_fast_pace = 3*((7*60)+12)
total_sec = time_left_house+miles_easy_pace+miles_fast_pace
print(total_sec)

27006

Write a Program to convert time given in seconds to hours, minutes and seconds.

In [ ]:
sec = 27006
hh = sec//(60*60)
remaining_seconds = sec%(60*60)
#print(remaining_seconds)                #that is not 'miniutes' this is 'remaining minutes'        
                                        #Floor/integer divison gives you the rounded off value to the lower number
mm = remaining_seconds//60 
remaining_sec = sec%60
print(remaining_sec,"seconds")   
print(mm,"minute")    
print(hh, "hours")

6 seconds
30 minute
7 hours

In [ ]:
print(3600//3600)              # hh
print(3600%3600)               # remaining seconds after converting total seconds into hours
print(50//60)                  # mm 
print(3650%60)                 # sec

1
50
0
50

input-85
output = 0 Hours 1 minute and 25 seconds
input-3650
output = 1 hour 0 minutes 50 seconds